@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Overpass:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

:root {
    --orange: #fb7413;
    --white: #ffffff;
    --light-grey: #959eac;
    --medium-grey: #7c8798;
    --dark-blue: #252d37;
    --very-dark-blue: #121417;
    --secondary: hsl(213deg, 20%, 22%);
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--very-dark-blue);
}

.hidden {
    display: none;
}

.card {
    background-color: var(--dark-blue);
    border-radius: 1rem;
    width: 350px;
}

.card_container {
    padding: 2rem;

}

.star_icon {
    background-color: var(--secondary);
    width: fit-content;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.title {
    color: var(--white);
    margin-bottom: 1rem;
}

.description {
    font-size: 14px;
    color: var(--medium-grey);
    margin-bottom: 1rem;
}

.ratings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.ratings span {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    border-radius: 50%;
    color: var(--medium-grey);
    margin-bottom: 1rem;
    cursor: pointer;
}

.ratings span:hover {
    background-color: var(--light-grey);
    color: var(--white);
}

.submit_btn {
    width: 100%;
    color: var(--white);
    border: none;
    border-radius: 2rem;
    background-color: var(--orange);
    padding: 0.7rem;
    text-transform: uppercase;
    cursor: pointer;
}

.submit_btn:hover {
    background-color: var(--white);
    color: var(--orange);
}

.tanks_section {
    text-align: center;
}

.chip {
    background-color: var(--secondary);
    width: fit-content;
    margin: 1rem auto;
    color: var(--orange);
    font-style: 14px;
    padding: 0.7rem;
    border-radius: 2rem;
}

.checked {
    background-color: var(--orange) !important;
    color: var(--white) !important;
}





























/* body {
    width: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--very-dark-blue);
}

.card {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 32px;
    border-radius: 30px;
    background-image: radial-gradient(circle at 50% -50%, #232a32, #171e28);
    display: flex;
    flex-direction: column;

}

.card .star {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.card h3 {
    font-size: 24px;
    color: var(--white);

}

.card p {
    font-size: 15px;
    color: var(--light-grey);
    line-height: 24px;
    margin-bottom: 32px;
}

.card .rates {
    display: flex;
    justify-content: space-between;
}

.card .rates button {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    transition-duration: 200ms;
    color: var(--medium-grey);
    position: relative;
}

.card #btn {
    width: 100%;
    height: 48px;
    background-color: var(--orange);
    border-radius: 24px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 32px;
    transition-duration: 200ms;
}

.card #btn:hover {
    background-color: var(--white);
    cursor: pointer;
    color: var(--orange);

}

.card .rates button:hover {
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
}






.card .thanks {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 50% -50%, #232a32, #171e28);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.card .thanks .active {
    opacity: 1;
    visibility: visible;
    transition-duration: 200ms;
}

.card .thanks img {
    display: block;
    margin-top: 30px;
}

.card .thanks span {
    display: inline-block;
    line-height: 32px;
    font-size: 15px;
    color: var(--orange);
    padding: 0 16px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.card .thanks span div {
    display: inline;
}

.card .thanks p {
    padding: 0 30px;
    text-align: center;
} */